@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
	<h1 class="display-4">Group 2's Team</h1>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			
			
			<img id="Sekou.jpeg" src="~/images/Sekoupic.jpg" alt= "picture of Sekou Makadji" width ="300" height="300" />
			<h2>Sekou Makadji</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>I am good at figuring out solutions</p>
				<h3>What challenges you?</h3>
				<p>I get very frustrated with coding :C</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			<img id="Sereina.jpg" src="~/images/Serienapic.jpg" alt= "picture of Sereina Williams" width ="300" height="300" />
			<h2>Sereina Williams</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at collaborating with others and managing projects <</p>
				<h3>What challenges you?</h3>
				<p>> Coding <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			<img id="Heaven.jpeg" src="~/images/Heaven.jpg" alt= "picture of Heaven Thomas" width ="200" height="300" />
			<h2>Heaven Thomas</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at connecting connecting ideas and subjects to create new ones <</p>
				<h3>What challenges you?</h3>
				<p>> Java  <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			<img id="Naomi.png" src="/images/Naomipic.jpg" alt= "picture of Naomi McDonald" width ="300" height="300" />
			<h2>Naomi McDonald</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at strategizing and analysis. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming, but I like challenges. <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			<img id="Sandy.jpeg" src="~/images/Sandypic.jpg" alt= "picture of Sandy Cho" width ="200" height="300" />
			<h2>Sandy Cho</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at collaborating within a team to come up with solutions and staying organized <</p>
				<h3>What challenges you?</h3>
				<p>> Coding! <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap card-color" style="width: 20rem;">
			<img id="Heather.jpe" src="~/images/Heatherpic.jpg" alt= "picture of Heather Storz" width ="200" height="300" />
			<h2>Heather Storz</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at working under pressure and communicating with others. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming in general typically challenges me, but I always am able to learn. <</p>
			</div>
		</div>
	</div>
</div>

<div>
<div class="row">
		<div class="col-4">
			<h2>Communication Plan</h2>
			<p>1) Text Messages
				<br>
			2) During Classtime
			</p>
		</div>
		<div class="col-4 col-md-12">
			<br>
			<h2>Code of Conduct</h2>
			<p>1. Respect and Collaboration</p>
				<p>- Treat all team members with respect, kindness, and professionalism<p>
				<p>- Embrace diversity and different perspectives within the group<p>
				<p>- Promote open communication and active listening<p>
			<br>
			<p>2. Accountabiity</p>
				<p>- Fulfill your assigned responsibilieities and meet deadlines<p>
				<p>- Inform the team if you encoutner difficulties that may affect your contributions<p>
				<p>- Take ownership of your mistakes<p>

		</div>
			<div class="col-4">
				<br>
			<h2>Group 2's Values</h2>
			<p>1. Celebrate the importance of having spices & herbs</p>
			<p>2. Only sell reliable, non-processed, ORGANIC spices & herbs </p>
			<p>3. Percentage of earnings are given back to the community </p>
		</div>
        <div class="col-4 col-md-12 ">
			<br>
            <h2>Group Expectations</h2>
			<div class="card1">
				<h3>Sekou</h3>
				<p>- To complete assigned parts in a timely manner</p>
				<p>- Review Repo before submission of any assignment</p>
			</div>
			<div class="card2">
					<h3>Sereina</h3>
					<p>- To collaborate with everyone with easy communication and cooperation.</p>
					<p>- If you are unsure about something, ask the group before you make any changes</p>	
			</div>
			<div class="card3">
				<h3>Heaven</h3>
				<p>- Try our best to produce quality work while getting a better understanding of coding for the web</p>
				<p>- To communicate when stuck and ask for help</p>
			</div>
			<div class="card4">
				<h3>Naomi</h3>
				<p>- To produce a aesthetic and interactive product. </p>
			</div>
			<div class="card5">
				<h3>Sandy</h3>
				<p>- To foster teamwork and gather ideas to develop a high quality product.</p>
			</div>
			<div class="card6">
				<h3>Heather</h3>
				<p>- To collaborate effectively and produce a product we are proud of.</p>
			</div>
		</div>
	
	</div>
</div>
