@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
	<h1 class="display-4">Group 2's Team</h1>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Sekou Makadji</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>I am good at figuring out solutions</p>
				<h3>What challenges you?</h3>
				<p>I get very frustrated with coding :C</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Sereina Williams</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>> Write whatever you want to put here <</p>
				<h3>What challenges you?</h3>
				<p>> Write whatever you want to put here <</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Heaven Thomas</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>> Write whatever you want to put here <</p>
				<h3>What challenges you?</h3>
				<p>> Write whatever you want to put here <</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Naomi McDonald</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>> Write whatever you want to put here <</p>
				<h3>What challenges you?</h3>
				<p>> Write whatever you want to put here <</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Hyunsoo Cho</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>> Write whatever you want to put here <</p>
				<h3>What challenges you?</h3>
				<p>> Write whatever you want to put here <</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<h2>Heather Storz</h2>
			<img id="" src="">
			<div>
				<h3>What are you good at?</h3>
				<p>> Write whatever you want to put here <</p>
				<h3>What challenges you?</h3>
				<p>> Write whatever you want to put here <</p>
			</div>
		</div>
	</div>
</div>

<div>

</div>