@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
	<h1 class="display-4">Group 2's Team</h1>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			
			
			<img id="Sekou.jpeg" src="~/images/Sekoupic.jpg" alt= "picture of Sekou Makadji" width ="300" height="300" />
			<h2>Sekou Makadji</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>I am good at figuring out solutions</p>
				<h3>What challenges you?</h3>
				<p>I get very frustrated with coding :C</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<img id="Sereina.jpg" src="~/images/Serienapic.jpg" alt= "picture of Sereina Williams" width ="300" height="300" />
			<h2>Sereina Williams</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at collaborating with others and managing projects <</p>
				<h3>What challenges you?</h3>
				<p>> Coding <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<img id="Heaven.jpeg" src="~/images/Heaven.jpg" alt= "picture of Heaven Thomas" width ="300" height="300" />
			<h2>Heaven Thomas</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at connecting connecting ideas and subjects to create new ones <</p>
				<h3>What challenges you?</h3>
				<p>> Java  <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<img id="Naomi.png" src="/images/Naomipic.jpg" alt= "picture of Naomi McDonald" width ="300" height="300" />
			<h2>Naomi McDonald</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at strategizing and analysis. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming, but I like challenges. <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<img id="Sandy.jpeg" src="~/images/Sandypic.jpg" alt= "picture of Sandy Cho" width ="300" height="300" />
			<h2>Sandy Cho</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at collaborating within a team to come up with solutions and staying organized <</p>
				<h3>What challenges you?</h3>
				<p>> Coding! <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-primary text-wrap" style="width: 20rem;">
			<img id="Heather.jpe" src="~/images/Heatherpic.jpg" alt= "picture of Heather Storz" width ="300" height="300" />
			<h2>Heather Storz</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at working under pressure and communicating with others. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming in general typically challenges me, but I always am able to learn. <</p>
			</div>
		</div>
	</div>
</div>

<div>

</div>