@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<h2>Sekou Makadji</h2>
			<img id="" src="">
			<div>
				<h3>What am I good at?</h3>
				<p>I can code :D</p>
			</div>
		</div>
	</div>
</div>

<div>

</div>