
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4">Too Spicy :)</h1>
	<p>
		Welcome to Group 2's Home Page!
	</p>
	<div class="row">
		<div class="col-4">
			<h2>Communication Plan</h2>
			<p>1)Text Messages
				2)During Class
			</p>
		</div>
		<div class="col-4 col-md-12">
			<h2>Code of Conduct</h2>
			<p>1. Respect and Collaboration</p>
				<p>- Treat all team members with respect, kindness, and professionalism<p>
				<p>- Embrace diversity and different perspectives within the group<p>
				<p>- Promote open communication and active listening<p>
			<br>
			<p>2. Accountabiity</p>
				<p>- Fulfill your assigned responsibilieities and meet deadlines<p>
				<p>- Inform the team if you encoutner difficulties that may affect your contributions<p>
				<p>- Take ownership of your mistakes<p>

		</div>
			<div class="col-4">
			<h2>Group 2's Values</h2>
			<p>*INSERT GROUP VALUES HERE*</p>
		</div>
        <div class="col-4">
            <h2>Group Expectations</h2>
			<div class="card1">
				<h3>Sekou</h3>
				<p>To complete assigned parts in a timely manner</p>
				<p>Review Repo before submission of any assignment</p>
			</div>
			<div class="card2">
					<h3>Sereina</h3>
					<p>- To collaborate with everyone with easy communication and cooperation.</p>
					<p>- If you are unsure about something, ask the group before you make any changes</p>	
			</div>
			<div class="card3">
				<h3>Heaven</h3>
				<p>*INSERT YOUR EXPECTIONS HERE*</p>
			</div>
			<div class="card4">
				<h3>Naomi</h3>
				<p> To produce a aesthetic and interactive product. </p>
			</div>
			<div class="card5">
				<h3>Sandy</h3>
				<p>*INSERT YOUR EXPECTIONS HERE*</p>
			</div>
			<div class="card6">
				<h3>Heather</h3>
				<p>To collaborate effectively and produce a product we are proud of.</p>
			</div>
		</div>
	
	</div>
</div>
