
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4">TooSpicy Inc</h1>
	<p>
		Welcome to Our Spice Collection :)!
	</p>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			
			
			<img id="SeaSalt.jpeg" src="~/images/SeaSalt.jpeg" alt= "picture of Sea Salt" width ="300" height="300" />
			<h2>Fine Sea Salt</h2>
			<div>
				<p>Our Fine Sea Salt is the Finest of all. Our sea salt is found on the Island of Ré, off France's Atlantic Coast. </p>
				<br>
				<h3>-$25 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap" style="width: 20rem;">
			<img id="Himalay.jpg" src="~/images/Himalay.jpg" alt= "picture of Himalayan Pink Salt" width ="300" height="300" />
			<h2>Himalayan Pink Salt</h2>
			<div>
				<p>Our Himalayan Salt boasts all 84 essential trace elements which your body needs to function properly. It is harvested from Punjab in Pakistan from the Khewra salt mine</p>
				<br>
				<h3>-$42 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="Heaven.jpeg" src="~/images/Heaven.jpg" alt= "picture of Heaven Thomas" width ="200" height="300" />
			<h2>Heaven Thomas</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at connecting connecting ideas and subjects to create new ones <</p>
				<h3>What challenges you?</h3>
				<p>> Java  <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="Naomi.png" src="/images/Naomipic.jpg" alt= "picture of Naomi McDonald" width ="300" height="300" />
			<h2>Naomi McDonald</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I'm good at strategizing and analysis. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming, but I like challenges. <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="Sandy.jpeg" src="~/images/Sandypic.jpg" alt= "picture of Sandy Cho" width ="200" height="300" />
			<h2>Sandy Cho</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at collaborating within a team to come up with solutions and staying organized <</p>
				<h3>What challenges you?</h3>
				<p>> Coding! <</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="Heather.jpe" src="~/images/Heatherpic.jpg" alt= "picture of Heather Storz" width ="200" height="300" />
			<h2>Heather Storz</h2>
			<div>
				<h3>What are you good at?</h3>
				<p>> I am good at working under pressure and communicating with others. <</p>
				<h3>What challenges you?</h3>
				<p>> Programming in general typically challenges me, but I always am able to learn. <</p>
			</div>
		</div>
	</div>
</div>