@model List<Category>
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4 text-center">TooSpicy Inc</h1>
	<p class="text-center">
		Welcome to Our Spice Collection :)!
	</p>
</div>
<div class="row">
	@for(int i=0; i<6; i++)    // change 1 to Model.Count
	{
		<div class="col-md-6">
			@Model[i].CategoryName
			@ViewBag.descriptions[i]
			<img src="/images/@ViewBag.images[i]" />
		</div>
	}
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			
			
			<img id="SeaSalt.jpeg" src="~/images/SeaSalt.jpeg" alt= "picture of Sea Salt" width ="300" height="300" />
			<h2>Fine Sea Salt</h2>
			<div>
				<p>Our Fine Sea Salt is the Finest of all. Our sea salt is found on the Island of Ré, off France's Atlantic Coast. </p>
				<br>
				<h3>-$25 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap" style="width: 20rem;">
			<img id="Himalay.jpeg" src="~/images/Himalay.jpeg" alt= "picture of Himalayan Pink Salt" width ="300" height="300" />
			<h2>Himalayan Pink Salt</h2>
			<div>
				<p>Our Himalayan Salt boasts all 84 essential trace elements which your body needs to function properly. It is harvested from Punjab in Pakistan from the Khewra salt mine</p>
				<br>
				<h3>-$42 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="BlackPep.jpeg" src="~/images/BlackPep.jpeg" alt= "picture of Black Pepper" width ="300" height="300" />
			<h2>Organic Black Pepper</h2>
			<div>
				<p>Our Organic Black Pepper is essential for all recipes </p>
				<br>
				<h3>-$15 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CFennel" src="/images/CFennel.jpeg" alt= "picture of Cracked Fennel" width ="300" height="300" />
			<h2>Cracked Fennel</h2>
			<div>
				<p>Cracked Fennel, Foeniculum vulgare, is also called cracked fennel seed or fennel bulk. </p>
				<br>
				<h3>-19.81 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CThreads" src="~/images/Chile-Threads.jpeg" alt= "picture of Chile-Threads" width ="200" height="300" />
			<h2>Chile Threads</h2>
			<div>
				<p>Chile Threads, capsicum annuum, measure 2,500 - 5,000 Scoville Heat Units (SHU).</p>
				<br>
				<h3>-58.20 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CRoll" src="~/images/CRoll.jpeg" alt= "picture of Cinnamon Roll" width ="200" height="300" />
			<h2>Ceylon Cinnamon Sticks</h2>
			<div>
			
				<p> Ceylon Cinnamon Sticks, Cinnamomum verum, are also called Ceylon cinnamon, canela cinnamon sticks, or canela sticks.  <</p>
				<br>
				<h3>-53.14 per pound- </h3>
			</div>
		</div>
	</div>
</div>

<div class="bg-light p-5 rounded-lg m-3">
	<h1 class="display-4">Fake Co.  Categories</h1>
	<p class="lead">Select from the categories below to view our delicious imported goodies</p>
	<hr class="my-4">
	<p>More text could go here that would be useful for an end user</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
			@for(int i=0; i<6; i++){
				var item = Model[i];
		<div class="card m-1" style="width: 18rem;padding:0">
				<img src="/images/@ViewBag.images[i]" alt="Spice Images" />
				<div class="card-body">
					<h5 class="card-title">@item.CategoryName</h5>
					<p class="card-text">@item.Description.</p>
				</div>
				<div class="card-footer btn-group">
				<a href="#" class="btn btn-primary">
					View Items
				</a>
				</div>
		</div>
			}
</div>