@model List<Category>
@{
	ViewData["Title"] = "Home Page";
}



<div class="bg-light p-5 rounded-lg m-3">
	<h1 class="display-4">TooSpicy Inc</h1>
	<p class="lead">Welcome to Our Spice Collection :)!</p>
	<hr class="my-4">
	<p>Spice Inventory</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
			@for(int i=0; i<6; i++){
				var item = Model[i];
		<div class="card m-1" style="width: 18rem;padding:0">
				<img src="/images/@ViewBag.images[i]" alt="Spice Images" />
				<div class="card-body">
					<h5 class="card-title">@item.CategoryName</h5>
					<p class="card-text">@item.Description.</p>
				</div>
				<div class="card-footer btn-group">
				<a href="#" class="btn btn-primary">
					View Items
				</a>
				</div>
		</div>
			}
</div>