
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4 text-center">TooSpicy Inc</h1>
	<p class="text-center">
		Welcome to Our Spice Collection :)!
	</p>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			
			
			<img id="SeaSalt.jpeg" src="~/images/SeaSalt.jpeg" alt= "picture of Sea Salt" width ="300" height="300" />
			<h2>Fine Sea Salt</h2>
			<div>
				<p>Our Fine Sea Salt is the Finest of all. Our sea salt is found on the Island of Ré, off France's Atlantic Coast. </p>
				<br>
				<h3>-$25 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap" style="width: 20rem;">
			<img id="Himalay.jpeg" src="~/images/Himalay.jpeg" alt= "picture of Himalayan Pink Salt" width ="300" height="300" />
			<h2>Himalayan Pink Salt</h2>
			<div>
				<p>Our Himalayan Salt boasts all 84 essential trace elements which your body needs to function properly. It is harvested from Punjab in Pakistan from the Khewra salt mine</p>
				<br>
				<h3>-$42 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="BlackPep.jpeg" src="~/images/BlackPep.jpeg" alt= "picture of Black Pepper" width ="300" height="300" />
			<h2>Organic Black Pepper</h2>
			<div>
				<p>Our Organic Black Pepper is essential for all recipes. It comes from India's finest 'Tellicherry peppercorns' and crushed to perfection  </p>
				<br>
				<h3>-$15 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CFennel" src="/images/CFennel.jpeg" alt= "picture of Cracked Fennel" width ="300" height="300" />
			<h2>Cracked Fennel</h2>
			<div>
				<p>Cracked Fennel, Foeniculum vulgare, is also called cracked fennel seed or fennel bulk. </p>
				<br>
				<h3>-19.81 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CThreads" src="~/images/Chile-Threads.jpeg" alt= "picture of Chile-Threads" width ="200" height="300" />
			<h2>Chile Threads</h2>
			<div>
				<p>Chile Threads, capsicum annuum, measure 2,500 - 5,000 Scoville Heat Units (SHU).</p>
				<br>
				<h3>-58.20 per pound- </h3>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-4 m-3">
		<div class="badge bg-dark text-wrap " style="width: 20rem;">
			<img id="CRoll" src="~/images/CRoll.jpeg" alt= "picture of Cinnamon Roll" width ="200" height="300" />
			<h2>Ceylon Cinnamon Sticks</h2>
			<div>
			
				<p> Ceylon Cinnamon Sticks, Cinnamomum verum, are also called Ceylon cinnamon, canela cinnamon sticks, or canela sticks.  <</p>
				<br>
				<h3>-53.14 per pound- </h3>
			</div>
		</div>
	</div>
</div>